<div class="row">

  <h1 class="col-sm-12">Interactions</h1>

  <div class="col-md-8">

    <h3>My Recent Interactions</h3>
    <div class="search">
      <%= select_tag(:issues, options_for_select([['My recent interactions', 1], ['Open issues', 2], ['Closed issues', 3]]), class: "form-control", style: "display: inline-block") %>
      <%= submit_tag("Go") %>
    </div>
    <table class="issues fullwidth">
      <tr>
        <td>Regarding</td>
        <td>Owned By</td>
        <td>Description</td>
        <td>Last Event</td>
        <td>Status</td>
      </tr>

      <%= render @issues %>
    </table>
  </div>

  <div class="col-md-4">
    <%= render "sidebar" %>
  </div>
</div>
