<h1>Search Results</h1>

<table class="search-results issues">
  <thead>
    <td>Regarding</td>
    <td>Owned By</td>
    <td>Description</td>
    <td>Last Event</td>
    <td>Status</td>
  </thead>

  <%= render @issues %>
</table>