<%= simple_form_for @student do |f| %>
  <p>Please enter your student’s IPS Student ID and birthdate.</p>
  <div class="form-group">
    <%= f.input :ips_id, label: "IPS Student ID", required: true %>
  </div>
  <div class="form-group">
    <%= f.input :birthdate, start_year: Date.current.year - 2, end_year: Date.current.year - 25, required: true %>
  </div>
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
