<li class="list-item">
  <h4><%= application.current_building %>: <%= application.current_program %></h4>
  <small>application.interpreted_status • Created <%= time_ago_in_words(application.created_at) %> ago</small>
</li>
