<h1>Applications</h1>

<%= form_tag(admin_applications_search_path, method: "get", class: "search") do %>
  <div class="form-group">
    <%= text_field_tag(:student_name, @student_name, placeholder: "Search by student name", class: "form-control", style: "display: inline-block") %>
    <%= submit_tag("Search") %>
  </div>
<% end %>

<table class="applications">
  <tr>
    <td>Student</td>
    <td>Building</td>
    <td>Program</td>
    <td>Status</td>
  </tr>

  <%= render @applications %>
</table>
