<h1>Applications</h1>

<%= form_tag(admin_applications_search_path, method: "get") do %>
  <div>
    <%= text_field_tag(:student_name, @student_name, size: 25, placeholder: "Search by student name") %>
    <%= submit_tag("Search") %>
  </div>
<% end %>

<table class="applications">
  <tr>
    <td>Student</td>
    <td>Building</td>
    <td>Program</td>
    <td>Status</td>
  </tr>

  <%= render @applications %>
</table>
